h3, h1, p {
    font-family: 'Ubuntu', sans-serif;
}

.col {
    display: flex;
    flex-direction: column;
}

.center {
    flex-direction: row;
    justify-content: space-around;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.left {
    justify-content: flex-start;
}

#occupied-status {
    margin-left: 5px;
    color: red;
}

#led-status {
    margin-left: 5px;
    color: blue;
}

